.title {
    font-family: Rubik;
    width: 80vw;
  }
.subtitle {
    font-family: Rubik;
    font-weight: 400px;
}
.aboutDescription {
    font-family: Rubik;
    font-weight: 400px;
    font-size: 20px;
  }