.title {
    font-family: Rubik;
    width: 80vw;
  }
.subtitle {
    font-family: Rubik;
    font-weight: 400;
}
.aboutDescription {
    font-family: Rubik;
    font-weight: 400;
    font-size: 20px;
  }
[data-theme="dark"] .title, [data-theme="dark"] .subtitle{
  color: #ECEFF4 !important;
}

[data-theme="dark"] .menu-label, [data-theme="dark"] .menu-list li span {
  color: #ECEFF4  !important;
}

[data-theme="dark"] .menu-list li a:hover:not(.is-active){
  background-color: #1D1F21;
  opacity: 0.5;
}